<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/empire-state-jonathan-riley-unsplash.jpg" | prepend: site.baseurl }}" />
    <figcaption style="font-size:10px">Photo by Jonathan Riley on <a href="https://unsplash.com/photos/VW8MUbHyxCU">unsplash.com</a>.</figcaption>
  </div>
  <div class="contents">
    <h3> Work </h3>
    <p> I'm currently at Google Research in New York, focusing on Natural Language Understanding. I recently released my first coauthored paper, <a href="https://arxiv.org/abs/1908.08962">Well-Read Students Learn Better: On the Importance of Pre-training Compact Models</a>. Previously, I worked on <a href="https://ai.googleblog.com/2017/04/federated-learning-collaborative.html">Federated Learning</a> at Google Research in Seattle.
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/magdalen-ed-webster-flickr.jpg" | prepend: site.baseurl }}" />
    <figcaption style="font-size:10px"> Photo by Ed Webster on <a href="https://www.flickr.com/photos/ed_webster/7958644740">flicr.com</a>, licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.</figcaption>
  </div>
  <div class="contents-right">
    <h3> Education </h3>
    I graduated with an MSc in Computer Science at the University of Oxford, at Magdalen College, where I wrote my dissertation on <a href="https://books.google.com/books/about/Recurrent_Neural_Networks_for_Statistica.html?id=P4l4rgEACAAJ">Recurrent Neural Networks for Statistical Machine Translation</a>. Prior to that, I graduated with a BA in Computer Science from the University of Cambridge, at Newnham College. 
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
